@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-co-text: "CoText", sans-serif;
  --font-co-text-bold: "CoTextBold", sans-serif;
  --font-co-text-light: "CoTextLight", sans-serif;
}

body {
  font-family: var(--font-co-text);
}

@media (min-width: 767px) {
  .rotate-text {
    writing-mode: vertical-rl;
    rotate: 180deg;
  }
}

.switch {
  width: 65px;
  height: 32px;
  background-color: rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: flex-start;
  border-radius: 50px;
  /* padding: 5px; */
  cursor: pointer;
}

.switch[data-isOn="true"] {
  justify-content: flex-end;
}

.handle {
  background-color: white;
  border-radius: 100%;
}
